<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/config.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Admin</title>
</head>

<body>
    
    <section class="header__check__list">
        <div class="wrapper__header__check">
            <div class="content__header__check">
                <div class="info__user__check">
                    <div class="img__photo__header">
                        <img src="/imgs/phto.jpg" alt="">
                    </div>
                    <span>
                        <%= user.nombre %>
                            <%= user.apellido %>
                    </span>
                </div>
                <i class='bx bx-chevron-down'></i>
            </div>

            <div class="registre__client" id="formularioRegistro">
                <span class="close-form" onclick="cerrarFormulario()">×</span>
                <form class="form-group" action="/clienteCreate" method="post" enctype="multipart/form-data"
                    onsubmit="return validarFormulario()">
                    <input type="number" name="id" id="id" value="<%= user.id %>" hidden>

                    <div class="form__group field">
                        <input type="input" class="form__field" placeholder="Nombre" name="nombre" id='nombre' required />
                        <label for="name" class="form__label">Nombre</label>
                    </div>

                    <div class="form__group field">
                        <input type="email" class="form__field" placeholder="Email" name="email" id='email'  />
                        <label for="email" class="form__label">Correo electrónico</label>
                    </div>

                    <div class="form__group field">
                        <input type="number" class="form__field" placeholder="NIT" name="nit" id='nit'  />
                        <label for="nit" class="form__label">NIT</label>
                    </div>
                    
                    <div class="form__group field">
                        <input type="tel" class="form__field" placeholder="cel" name="cel" id='cel'  />
                        <label for="cel" class="form__label">Número de celular</label>
                    </div>

                    <button class="contenedor-btn-file">
                        <div class="content__input__file">
                            <i class='bx bxs-file-image'></i>
                            Adjuntar archivo
                            <label for="fileLogo"></label>
                            <input type="file" name="fileLogo" id="fileLogo" accept="image/*" required onchange="mostrarImagen()">
                        </div>
                        <img id="imagenPrevista" src="" alt="">
                    </button>

                    <!-- <div>
                        <input type="file" name="fileLogo" id="fileLogo" accept="image/*" required />
                    </div> -->

                    <div class="selected-options" id="selectOptions">
                        <!-- <div class="option" id="option-1" style="display: none;">
                            Inspección salida de vehículos y liquidación en la caja, Glp en tránsito autorizado por operaciones.
                            <span class="close" onclick="removeOption('option-1')">x</span>
                        </div> -->
                        <!-- Agrega más opciones seleccionadas según sea necesario -->
                    </div>
                    <input type="text" class="input__select" id="selectedChecklists" readonly
                        onclick="showChecklistOptions()" placeholder="Elije las opciones" required>

                    <div id="checklistOptions" style="display: none;">
                        <% if (checks) { %>
                            <% checks.forEach(function(check) { %>
                                <div class="option__check">
                                    <input type="checkbox" id="checklist-<%= check.id %>" name="checklists[]"
                                        value="<%= check.id %>" onchange="updateSelectedChecklists(this)">
                                    <label class="" for="checklist-<%= check.id %>">
                                        <%= check.nombre %>
                                    </label>
                                </div>
                            <% }); %>
                        <% } %>

                    </div>



                    <button type="submit">Registrar cliente</button>
                </form>
            </div>

            <div id="formCheck" class="wrapper__check">
                <span class="close-form_chekc" onclick="cerrarCheck()">×</span>
                <form action="/themeCreate" method="post">
                    
                    <div class="form__group field">
                        <input type="input" class="form__field" placeholder="Tema" name="name" id='name' required />
                        <label for="name" class="form__label">Titulo del tema</label>
                    </div>
                    
                    <div>
                        <div>
                            <label for="cadenasPreguntas">Pregunta</label>
                            <p>Separar cada pregunta por coma. para marcar una pregunta como importante marque con <span
                                    style="color: red;">*</span></p>
                        </div>
                        <textarea name="cadenasPreguntas" id="cadenasPreguntas" cols="30" rows="10"
                            placeholder="Preguntas"></textarea>
                    </div>
        
                    <button type="submit">Registrar cliente</button>
                </form>
            </div>

            <div class="wrapper__option__check" id="option__check__wrapper">
                <h2>Crear cliente o check</h2>
                <div class="select__option">
                    <a id="mostrarFormulario">
                        <i class='bx bxs-user'></i>
                        <span>Registrar Clientes</span>
                    </a>
                    <a id="createTheme">
                        <i class='bx bx-spreadsheet'></i>
                        <span>Agregar check</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="wrapper__body__check">
            <h2>Lista de clientes</h2>
            <div class="list__check">
                <% if (clients) { %>
                    <% clients.forEach(function(client) { %>
                        <div class="column__check">
                            <div><i class='bx bx-spreadsheet'></i></div>
                            <div><span>
                                    <%= client.nombre %>
                                </span></div>
                            <div><img src="<%= client.image_url %>" alt=""></div>

                            <!-- <td>
                                            <%= client.nit %>
                                        </td> -->
                            <!-- <td>
                                            <%= client.id_usuario_admin %>
                                        </td> -->
                            <div><a href="/checklist/<%= client.id %>">Empezar</a></div>
                            <!-- <td>
                                            <button>Editar</button>
                                            <button>Eliminar</button>
                                        </td> -->
                        </div>
                        <% }); %>
                            <% } %>
                                </tbody>
                                </table>
            </div>
        </div>

    </section>


    <script>
        function mostrarImagen() {
            const fileInput = document.getElementById('fileLogo');
            const previewImage = document.getElementById('imagenPrevista');
            
            const file = fileInput.files[0];
            const reader = new FileReader();
        
            reader.onload = function(e) {
                previewImage.style.display = 'block'
                previewImage.src = e.target.result;
            }
        
            reader.readAsDataURL(file);
        }
        
    </script>

    <script>
        function validarFormulario() {
            // Obtener todos los checkboxes con nombre "checklists[]"
            var checkboxes = document.querySelectorAll('input[name="checklists[]"]');
            var alMenosUnoSeleccionado = false;

            // Verificar si al menos uno está seleccionado
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    alMenosUnoSeleccionado = true;
                }
            });

            // Si al menos uno no está seleccionado, mostrar un mensaje y evitar que se envíe el formulario
            if (!alMenosUnoSeleccionado) {
                alert("Por favor, selecciona al menos un elemento de la lista.");
                return false; // Evita que se envíe el formulario
            }
            // Si al menos uno está seleccionado, permitir que el formulario se envíe
            return true;
        }
    </script>

    <script>
        // Función para cerrar el formulario
        function cerrarFormulario() {
            var optionContainer = document.getElementById('option__check__wrapper');
            var formularioRegistro = document.getElementById('formularioRegistro');
            formularioRegistro.style.display = 'none';
            optionContainer.style.display = 'block'
        }

        document.addEventListener('DOMContentLoaded', function () {
            var enlaceRegistrarClientes = document.getElementById('mostrarFormulario');
            var optionContainer = document.getElementById('option__check__wrapper');
            var formularioRegistro = document.getElementById('formularioRegistro');

            enlaceRegistrarClientes.addEventListener('click', function (event) {
                event.preventDefault();
                formularioRegistro.style.display = 'block';
                optionContainer.style.display = 'none'
            });
        });

        /*function cerrarList() {
            var formularioCheck = document.getElementById('wlistClients');
            var formularioRegistro = document.getElementById('formularioRegistro');
            formularioCheck.style.display = 'none';
            optionContainer.style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', function () {
            var enlaceRegistrarClientes = document.getElementById('listClients');
            var formularioRegistro = document.getElementById('formularioRegistro');
            var formularioList = document.getElementById('wlistClients');

            enlaceRegistrarClientes.addEventListener('click', function (event) {
                event.preventDefault();
                formularioList.style.display = 'block';
                optionContainer.style.display = 'none';
            });
        });*/

        function cerrarCheck() {
            var formularioCheck = document.getElementById('formCheck');
            var optionContainer = document.getElementById('option__check__wrapper');
            formularioCheck.style.display = 'none';
            optionContainer.style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', function () {
            var enlaceRegistrarClientes = document.getElementById('createTheme');
            var optionContainer = document.getElementById('option__check__wrapper');
            var formularioCheck = document.getElementById('formCheck');

            enlaceRegistrarClientes.addEventListener('click', function (event) {
                event.preventDefault();
                formularioCheck.style.display = 'block';
                optionContainer.style.display = 'none';
            });
        });

    </script>

    <script>
        function showChecklistOptions() {
            var options = document.getElementById("checklistOptions");
            options.style.display = options.style.display === "block" ? "none" : "block";
        }

        function updateSelectedChecklists(checkbox) {
            var che = document.getElementById("selectOptions")
            var selectedChecklists = document.getElementById("selectedChecklists");

            var optionId = "option-" + checkbox.value;
            var option = document.getElementById(optionId);
            if (checkbox.checked) {
                if (!option) {
                    option = document.createElement("div");
                    option.className = "option";
                    option.id = optionId;
                    option.innerHTML = `<p>${checkbox.nextElementSibling.textContent}</p>` + '<span class="close" onclick="removeOption(\'' + optionId + '\')">x</span>';
                    /*che.parentNode.insertBefore(option, selectedChecklists);*/
                    che.appendChild(option)
                }
                option.style.display = "inline-block";
            } else {
                if (option) {
                    option.style.display = "none";
                }
            }
        }

        function removeOption(optionId) {
            var option = document.getElementById(optionId);
            option.parentNode.removeChild(option);
            var checkbox = document.querySelector('input[value="' + optionId.split("-")[1] + '"]');
            checkbox.checked = false;
        }
    </script>
</body>

</html>
<!-- nombre, nit, direccion, contactos, correo -->